{
    "root": true,
    "parserOptions": {
        "parser": "babel-eslint",
        "sourceType": "module"
    },
    "env": {
        "browser": true
    },
    "rules": {},
    "extends": [
        "plugin:vue/recommended",
        "standard"
    ],
    "plugins": [
        "standard",
        "vue"
    ]
}